@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
$font: 'Work Sans', sans-serif;

* {
    font-family: $font;
}

.notVisible {
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
}

.visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
}    

.centered {
    width: 100%;
    height: 100%;
}

.elements {
   
    position: absolute;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);

    // @media(max-width: 540px) {
    //    min-width: 300px;
    // }
    @media(max-width: 360px) {
        min-width: 220px;
    }

    h1{
        color: gray;

        @media(max-width: 900px) {
            font-size: 1.4em;
        }
        @media(max-width: 630px) {
            font-size: 1.2em;
        }
        @media(max-width: 564px) {
            font-size: 0.8em;
        }
        @media(max-width: 360px) {
            font-size: 0.9em;
        }

    }
}