
.input {
    height: 28px;
    border: none;
    background-color: lightgray;
    border-radius: 5px;
    outline: none;

    &.error {
        background-color: darken(#FF715B, 5);
        color: white;
    }
}

form {
    position: relative;
    left: 25px;
    margin: 0;

    @media(max-width: 450px){
        left: 10px;
        width: 220px;
    }
}

.visible {
    color: red;
}

.invisible {
    opacity: 0;
    pointer-events: none;
}



.submit {
    margin-left: 10px;
    border: none;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-color:#FF715B;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    
    // &:hover {
    //     background-color: darken(#FF715B, 7);
    // }
    &.transition {
        color:#FF715B;
        transform: scale(300);
        transition: transform 1s ease-in-out;
    }
}