@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
$font: 'Work Sans', sans-serif;

* {
    font-family: $font;
}

.boussolePage {
    width: 99%;
    height: 99%;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
}

.boussole {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50% 0% 50% 50%;
    border: 2px solid blue;
    z-index: 0;
    background-color: #FF715B;
    transition: all 1s ease-in-out;
    
    // height
    // @media(max-height: 1033px) {
    //     top: 50px;
    // }
    // @media(max-height: 880px) {
    //     top: 100px;
    // }
    @media(max-height: 700px) {
        top: 100px;
    }
    @media(max-height: 595px) {
        top: 80px;
    }
    @media(max-height: 698px) {
        top: 50px;
    }

    // width
    @media(max-width: 540px) {
        width: 270px;
        height: 270px;
    }
    @media(max-width: 420px) {
        width: 250px;
        height: 250px;
    }
    @media(max-width: 380px) {
        width: 220px;
        height: 220px;
    }
    @media(max-width: 333px) {
        width: 210px;
        height: 210px;
    }
}

.informations {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media(max-width: 540px) {
        width: 270px;
        height: 270px;
    }
    @media(max-width: 420px) {
        width: 250px;
        height: 250px;
    }
    @media(max-width: 380px) {
        width: 220px;
        height: 220px;
    }
    @media(max-width: 333px) {
        width: 210px;
        height: 210px;
    }


    h1 {
        color: white;

        @media(max-width: 540px) {
            font-size: 1.5em;
        }
        @media(max-width: 420px) {
            font-size: 1.3em;
        }
    }
}