@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
$font: 'Work Sans', sans-serif;

* {
    font-family: $font;
}

.boussolePage {
    width: 99%;
    height: 99%;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
}

.boussole {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50% 0% 50% 50%;
    border: 2px solid blue;
    z-index: 0;
    background-color: #FF715B;
    transition: all 1s ease-in-out;
    
    @media(max-height: 700px) {
        top: 100px;
    }
    @media(max-height: 595px) {
        top: 80px;
    }
}

.informations {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: white;
    }
}